/* base form styles */

body{
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background-image: url("../photos/cockroach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    width: 100%;
    padding: 0 20px;
}

form{
    
    max-width: 550px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.8);
}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}

/* Text input styles and fieldsets */

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    margin: 10px 0;
    background: transparent;
}

legend{
    padding: 10px;
    font-size: 18px;
    letter-spacing: 00.1em;
}

input[type="email"],
input[type="telephone"]{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #1aaeee;
    padding: 10px;
    width: 50%;
}

 ::-webkit-input-placeholder{
    color: #1aaeee;
}

/* select boxes */

select{
    -webkit-appearance: none;
    appearance: none;

    display: block;
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background-color: #39b7dd;
    color: white;
    border-radius: 4px;
    border: 2px solid #fff;
    width: 280px;
}
.submit{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    width: 280px;
    cursor: pointer;
    text-transform: uppercase;
}

footer{
    bottom: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    right: 12%;
}

ul li{
    display: inline-block;
}

