/* #text1 {
    background-color: #0D3673;
    width: 40%;
    color: white;
    padding-right: 40px;
    box-shadow: 0px 16px 8px 0 #C4C4C4;
    ;

}
.row md-6 {
    display: flex;
    flex-direction: row;
}
.card-text {
    text-align: center;
}
.card-body {
    padding: auto;
    
} */

#about-text {
    width: 50%;
    height: auto;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;  
}
.about {
width: auto;
height: auto;
padding: 40px;
background-color: whitesmoke;
}
.about1 {
    background-color: whitesmoke;
    display: flex;
    }
#about {
    box-sizing: border-box;
    padding: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#about-text {
    width: 50%;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    padding-right: 20px;
    text-align: left;
    font-size: 18px; 
    background-color: #0D3673;
    color: white;
    ; 
}
#about-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0px 0px 6px grey;
    overflow: hidden;
}
#img {
    display: flex;
    background-color: whitesmoke;
}