
.navbar {
    background: #DC143C!important;
  }
  .navbar .navbar-brand {
  
    font-weight: bolder;
    color: blue;
    font-size: 2em;
    margin-left: 2%;
  }
  .nav-item {
    margin-left: 30px;
  }
  .navbar .nav-item a {
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    color: black;
    font-weight: bolder;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav-item:hover a {
    color: blue;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  #slider{
    overflow:hidden;
  }
  figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
  }
  figure img{
    width:20%;
    float: left;
    max-height: 100vh;
    
    
  }
  .item h3{
    color: rgb(146, 106, 106);
    text-align: center;
    text-shadow: rgb(165, 112, 42);
  }
  
  @keyframes slider{
    0%{
      left:0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -300%;
    }
  }
  #slider a{
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    text-decoration: none;
    background-color: blue;
    color: white;
  }
  /* .container{
    position: fixed;
  } */

#about-text {
    width: 50%;
    height: auto;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;  
}
.about {
width: auto;
height: auto;
padding: 40px;
background-color: whitesmoke;
}
.about1 {
    background-color: whitesmoke;
    display: flex;
    }
#about {
    box-sizing: border-box;
    padding: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#about-text {
    width: 50%;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    padding-right: 20px;
    text-align: left;
    font-size: 18px; 
    background-color: #0D3673;
    color: white;
    ; 
}
#about-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0px 0px 6px grey;
    overflow: hidden;
}
#img {
    display: flex;
    background-color: whitesmoke;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.packages {
    background-color: brown;
}
.packages p{
    color: white;
}
.packages h3 {
    
    margin-top: 30px;
    text-align: center;
}

figcaption.b-text{
    color: white;
    font-weight: 400;
    font-size: 2em;
}


figcaption {
    margin-top: 20px;
}

.btn{
    background-color: white;
    color: black;
    width: 50%;
}

#order{
    color: crimson;
   
}
.order-list{
    display: none;
}
.directions{
    display: none;
}
.feedback{
    display: none;
}

.service{
    background-color:goldenrod;
    padding-left: 600px;
}

.service h3{
    text-align: center;
    justify-content: center;
}
