#text1 {
    background-color: #0D3673;
    width: 40%;
    color: white;
    padding-right: 40px;
    box-shadow: 0px 16px 8px 0 #C4C4C4;
    ;

}
.card {
    display: flex;
    flex-direction: row;
}
.card-text {
    text-align: center;
}
.card-body {
    padding: auto;
    
}