*{ 
    margin: 0;
    padding: 0;

}

.packages {
    background-color: brown;
}
.packages p{
    color: white;
}
.packages h1 {
    margin-top: 30px;
    text-align: center;
}

figcaption {
    margin-top: 20px;
}
