.navbar {
  background: rgb(157, 189, 157) !important;
}
.navbar .navbar-brand {

  font-weight: bolder;
  color: blue;
  font-size: 2em;
  margin-left: 2%;
}
.nav-item {
  margin-left: 30px;
}
.navbar .nav-item a {
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  color: black;
  font-weight: bolder;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-item:hover a {
  color: blue;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#slider{
  overflow:hidden;
}
figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
}
figure img{
  width:20%;
  float: left;
  
}
@keyframes slider{
  0%{
    left:0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -300%;
  }
}
#slider a{
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  text-decoration: none;
  background-color: blue;
  color: white;
}