/* base form styles */

body{
    background-color: rgba(0, 238, 255, 0.425);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    width: 100%;
}

form{
    margin: 20px;
    color: #193cd8;
}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}

/* Text input styles and fieldsets */

fieldset{
    padding: 20px;
    margin: 20px;
    border: 3px solid #222;
}

legend{
    padding: 10px;
    font-size: 18px;
    letter-spacing: 00.1em;
}

input[type="email"],
input[type="telephone"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    color: black;
}

/* select boxes */

select{
    -webkit-appearance: none;
    appearance: none;

    display: block;
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background-color: #222;
    color: white;
    border-radius: 4px;
    border: 2px solid #fff;
    width: 280px;
}

input[type="submit"]{
    background: #b61111;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    width: 280px;
}

